<nav>

    <ul style="display: flex; justify-content: start; list-style: none;">

        <li><a href="/">Home</a>&nbsp;</li>

        <li><a href="/films">Filmes</a>&nbsp;</li>

        <li><a href="/atores">Atores</a>&nbsp;</li>

        <li><a href="/reprodutores">Reprodutores</a>&nbsp;</li>

        <li><a href="/generos">Generos</a>&nbsp;</li>

        {{#if user}}

        <li><a href="/users/logout">Sair</a>&nbsp;</li>

        {{else}}

        <li><a href="/users/login">Entrar</a>&nbsp;</li>

        <li><a href="/users/register">Registrar</a>&nbsp;</li>

        {{/if}}

    </ul>

</nav>